<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Confi 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias alias="TRAINING_EMPLOYEE" type="com.scii.model.EmployeePojo" />
	</typeAliases>

	<mappers>
		<mapper resource="/com/scii/sql/employeemapper.xml" />
	</mappers>


</configuration>  
